<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <dir class="main-containt">
            {{>header}}
            <p><span class ="massege">{{story}}</span></p>
            <img class="portrait" src="img/download.png" alt="lulu dragon">
        </dir>
        
        {{>footer}}
    </body>
</html>