<!DOCTYPE html>
<html>
    <head>
        <title>404 Not Found</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <dir class="main-containt">
            {{>header}}
            <p>{{error}}</p>

        </dir>
        {{>footer}}
    </body>
</html>